/* index.css */
body {
  font-family: 'Poppins', sans-serif;
}


.skill-card {
  transition: transform 0.2s;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #C89F72; /* Couleur de fond au survol */
}


.project-card {
  transition: transform 0.2s;
}

.project-card:hover {
  transform: scale(1.05);
}
